@import './base/settings';

.background-holder {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: scale-color($color-sub, $lightness: -25%);
}

.fancy-background {
  background: linear-gradient(10deg, $color-background, lighten($color-background, 25%));
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.box {
  &-container {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  &-item {
    box-sizing: border-box;
  }
}
