@import './base/settings';

.header-wrapper {
  position: fixed;
  z-index: 200;
  padding: 0 2.5%;
  background-color: transparent;
  border: 3px solid transparent;
  border-top: 0px;
  border-radius: 0px 0px 25px 25px;
  width: 98%;
  align-self: center;
  padding-bottom: 1vh;
  transition: all 1s;
  &.change {
    border-color: $color-main;
    background-color: rgba($color-background, 0.9);
  }
}

header {
  flex: 1;
  & i {
    font-size: $size-logo;
    display: block;
    text-align: center;
    flex: 0;
  }
  & .svg-inline--fa.nav-icon {
    width: 100%;
    max-width: 75px;
    align-self: center;
    transform: scale(0.8);
    transition: all 1s;
    & path {
      transition: all 1s;
      fill: $color-sub;
      opacity: 0.5;
    }
  }
  & .active .svg-inline--fa.nav-icon {
    transform: scale(1);
    & path {
      opacity: 1;
      fill: $color-main;
    }
  }
}

.here {
  color: #fff;
}
