@import '../base/settings';

.navigation {
  & .svg-inline--fa.nav-icon {
    width: 100%;
    max-width: 75px;
    align-self: center;
    transform: scale(0.8);
    transition: all 1s;
    @media screen and (max-width: $mobile-break) {
      max-width: $l-size;
    }

    & path {
      transition: all 1s;
      fill: $color-sub;
      opacity: 0.5;
    }
  }
  & .active .svg-inline--fa.nav-icon {
    transform: scale(1);
    & path {
      opacity: 1;
      fill: $color-main;
    }
  }

  & a {
    justify-content: center;
    height: 100%;
  }

  .react-reveal {
    @media screen and (max-width: $mobile-break) {
      max-height: 68px;
    }
  }
}

.footer-container .navigation .row {
  max-height: 10vh;
}
