@import "settings";

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  &:-webkit-any-link {
    color: initial;
  }
}

p {
  color: #fff;
}

body {
  flex: 1;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  height: 100%;
  width: 100%;
  & * {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;

  }
}

#app{
  height: 100%;
}

.content-container{
  flex: 8;
  overflow: hidden;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
