@import 'settings';

.link-button {
  justify-content: center;
  border-radius: 25px;
  border: 2px solid $color-sub;
  margin: 0 5%;
  max-width: 400px;
  height: 100px;
  & svg.svg-inline--fa {
    align-self: center;
    width: 100%;
    max-width: 40px;

    & path {
      fill: $color-sub;
    }
  }
}
