@import 'settings';
@import 'mixins';

h1 {
  font-family: Monoton, cursive;
  font-weight: 300;
  color: $color-main;
  font-size: $xl-size;
  margin: 0;
  justify-content: center;
  & span {
    display: block;
    flex: none;
    &:nth-child(1) {
      font-size: $xl-size * 1.37;
    }
  }
}

h2 {
  @include headLine($color-sub, 40px);
}

h3 {
  @include headLine($color-main, 15px);
}

h4 {
  @include headLine($color-sub, 15px);
}

a {
  text-decoration: none;
  &:-webkit-any-link {
    color: initial;
  }
}

p {
  color: #fff;
  font-family: Roboto;
  flex: 0;
  margin: 0 0 10px 0;
}

.small-p {
  font-size: $s-size;
  color: #fff;
  text-align: center;
  margin: 0;
  align-self: center;
}

.job-date {
  color: rgba($color-sub, 0.5);
  font-style: italic;
}
